CNF_version = 3
LK_auto_E1 = mass0:/APPS/RetroArch/raboot.elf
LK_Circle_E1 = mass0:/RETROLauncher/RETROLauncher.elf
LK_Cross_E1 = mass0:/APPS/RetroArch/raboot.elf
LK_Square_E1 = MISC/About uLE
LK_Triangle_E1 = MISC/PS2Browser
LK_L1_E1 = 
LK_R1_E1 = 
LK_L2_E1 = 
LK_R2_E1 = 
LK_L3_E1 = 
LK_R3_E1 = 
LK_Start_E1 = 
LK_Select_E1 = 
LK_Left_E1 = 
LK_Right_E1 = 
Misc = MISC/
Misc_PS2Disc = PS2Disc
Misc_FileBrowser = FileBrowser
Misc_PS2Browser = PS2Browser
Misc_PS2Net = PS2Net
Misc_PS2PowerOff = PS2PowerOff
Misc_HddManager = HddManager
Misc_TextEditor = TextEditor
Misc_JpgViewer = JpgViewer
Misc_Configure = Configure
Misc_Load_CNFprev = Load CNF--
Misc_Load_CNFnext = Load CNF++
Misc_Set_CNF_Path = Set CNF_Path
Misc_Load_CNF = Load CNF
Misc_ShowFont = ShowFont
Misc_Debug_Info = Debug Info
Misc_About_uLE = About uLE
Misc_Show_Build_Info = BuildInfo
Misc_OSDSYS = OSDSYS
GUI_Col_1_ABGR = 00A04000
GUI_Col_2_ABGR = 00FFFFFF
GUI_Col_3_ABGR = 00FFFFFF
GUI_Col_4_ABGR = 00FFA0A0
GUI_Col_5_ABGR = 0000FFFF
GUI_Col_6_ABGR = 0000FF00
GUI_Col_7_ABGR = 00404040
GUI_Col_8_ABGR = 00808080
SKIN_FILE = 
GUI_SKIN_FILE = 
SKIN_Brightness = 50
TV_mode = 0
Screen_Offset_X = 0
Screen_Offset_Y = 0
Popup_Opaque = 1
Menu_Frame = 0
Show_Menu = 0
LK_auto_Timer = 0
Menu_Hide_Paths = 1
Menu_Pages = 1
GUI_Swap_Keys = 0
NET_HOSTwrite = 0
Menu_Title = RETROLauncher
Init_Delay = 0
USBKBD_USED = 0
USBKBD_FILE = 
KBDMAP_FILE = 
Menu_Show_Titles = 1
PathPad_Lock = 0
CNF_Path = 
LANG_FILE = 
FONT_FILE = 
JpgView_Timer = 5
JpgView_Trans = 2
JpgView_Full = 0
PSU_HugeNames = 0
PSU_DateNames = 0
PSU_NoOverwrite = 0
FB_NoIcons = 0
LK_Circle_Title = RETROLauncher
LK_Cross_Title = raboot
LK_Square_Title = About uLE
PathPad_Lock = 0
